<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="mobisocial.silentdisco"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="6" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="mobisocial.silentdisco.SilentDiscoKickoffActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="musubi.intent.category.MENU" />
                <category android:name="musubi.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

		<activity android:name=".SilentDiscoActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.musubi.obj/silentdisco"/>
            </intent-filter>
        </activity>
        
        <service android:name="mobisocial.ntpsync.NTPSyncService"
                 android:exported="false">
        </service>

    </application>
</manifest>